.vscode
*__pycache__/
*.pyc
.pytest_cache/
samson_crypto.egg-info/
dist/
build/
doc/_build
scripts/performance/last_run*
man/_build
notebooks/.ipynb_checkpoints
msieve.dat
scripts/sage/*.py
*.swp
MANIFEST